<p id="notice"><%= notice %></p>

<h1>Executions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @executions.each do |execution| %>
      <tr>
        <td><%= execution.name %></td>
        <td><%= link_to 'Show', execution %></td>
        <td><%= link_to 'Edit', edit_execution_path(execution) %></td>
        <td><%= link_to 'Destroy', execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Execution', new_execution_path %>
