<p id="notice"><%= notice %></p>

<h1>Meals</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Kind</th>
      <th>Age</th>
      <th>Scheduled to</th>
      <th>Planned</th>
      <th>Served</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.school.name %></td>
        <td><%= meal.kind.name %></td>
        <td><%= meal.age.name %></td>
        <td><%= meal.scheduled_to %></td>
        <td><%= meal.planned %></td>
        <td><%= meal.served %></td>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal', new_meal_path %>
